.content {
    text-align: center;
}

.title-section {
    text-align: center;
}

.title-section h1 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.title-section p {
    font-size: 18px;
    margin-bottom: 20px; 
}

.items {
	padding: 50px 0;
}


.items__container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
}

